<div class="flex justify-content-center z-1 flex-column align-items-center">

  <div class="w-full flex flex-column md:flex-row p-3">
    <h3>Tu información</h3>
    <p><strong>Nombre:</strong> {{ usuarioLogueado!.nombre }}</p>
    <p><strong>Email:</strong> {{ usuarioLogueado!.email }}</p>
  </div>

  <form [formGroup]="cambiarEmailForm" (ngSubmit)="cambiarEmail()">
    <h3>Cambiar Email</h3>
    <div class="form-group">
      <label for="nuevoEmail">Nuevo Email</label>
      <input id="nuevoEmail" formControlName="nuevoEmail" type="email" class="form-control" placeholder="Ingresa el nuevo email">
      <div *ngIf="cambiarEmailForm.get('nuevoEmail')?.invalid && cambiarEmailForm.get('nuevoEmail')?.touched" class="text-danger">
        <small *ngIf="cambiarEmailForm.get('nuevoEmail')?.errors?.['required']">El email es obligatorio.</small>
        <small *ngIf="cambiarEmailForm.get('nuevoEmail')?.errors?.['email']">El email no es válido.</small>
      </div>
    </div>
    <button type="submit" [disabled]="cambiarEmailForm.invalid" class="">Actualizar Email</button>
  </form>

  <br>

  <form [formGroup]="cambiarPasswordForm" (ngSubmit)="cambiarPassword()">
    <h3>Cambiar Contraseña</h3>
    <div class="form-group">
      <label for="nuevaPassword">Nueva Contraseña</label>
      <input id="nuevaPassword" formControlName="nuevaPassword" type="password" class="form-control" placeholder="Ingresa la nueva contraseña">

    </div>
    <button type="submit" [disabled]="cambiarPasswordForm.invalid" class="">Actualizar Contraseña</button>
  </form>

</div>
