<div class="w-full mw-992 grid grid-nogutter align-items-center bg-white mt-4 p-3">

  <div class="col-12 lg:col-6 mb-3 p-2">
    <div class=" btnSelect flex p-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <circle cx="10" cy="10" r="7" stroke="#25d366" stroke-width="2" fill="transparent" />
        <line x1="15" y1="15" x2="21" y2="21" stroke="#25d366" stroke-width="2" />
      </svg>
      <input type="text" placeholder="Buscar coche..." class="ml-2 border-none w-full md:text-lg">
    </div>
  </div>

  <div class="col-12 lg:col-6 flex flex-row mb-3 p-2">

    <div class="w-6 lg:hidden">
      <button class="btnSelect relative flex align-items-center justify-content-center w-full  ">
        <span>Filtrar por</span>
        <img src="" alt="">
        <select class="w-full appearance-none absolute top-0 right-0 left-0 bottom-0 opacity-0 cursor-pointer"
          name="filtrar" id="filtrar">
          <option value="a">a</option>
          <option value="b">a</option>
        </select>
      </button>
    </div>

    <div class=" w-6 lg:w-full">
      <button class="btnSelect relative flex align-items-center justify-content-center w-full  ">
        <span>Ordenar por</span>
        <img src="" alt="">
        <select class="w-full appearance-none absolute top-0 right-0 left-0 bottom-0 opacity-0 cursor-pointer"
          name="ordenar" id="ordenar">
          <option value="a">a</option>
          <option value="b">a</option>
        </select>
      </button>
    </div>

  </div>





</div>

<div class="w-full mw-992 flex bg-white mt-4 p-3">
  <div class="hidden lg:flex w-3 h-full ">
    <div>Filtrar resultados</div>
  </div>

  <div class="w-full lg:w-9 grid grid-nogutter align-items-center justify-content-around">
    <app-car-card *ngFor="let coche of coches" [coche]="coche"></app-car-card>
  </div>

</div>
