.navBar {
  width: 100%;
  height: 75px;
  color: var(--color-black);
}

.register-btn {
  background-color: var(--color-green);
}

.perfil-btn {
  background-color: var(--color-black);
  border: 1px solid var(--color-green);
}

.register-btn:hover, .perfil-btn:hover {
  scale: 1 !important;
}

img {
  width: 100%;
  height: fit-content;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
  line-height: 25px;
}

.link:hover {
  font-weight: bold;
  font-style: italic;
}

.app-menu {
  height: 45px !important;
}

.btnBurguer:hover {
  scale: 1;
}

.separador {
  background: linear-gradient(to right, transparent 0%, var(--color-green) 15%, var(--color-green) 85%, transparent 100%) !important;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  background-color: var(--color-black);
  top: 75px;
  border: 1px solid var(--color-green);
  z-index: 1000;
  transform: scaleY(0); /* Escala vertical a 0 para ocultarlo */
  transition: all 0.5s ease-out;
  transform-origin: top; /* Aplicará efecto persiana desde la parte superior */
}

/* Estado visible */
.dropdown-menu.visible {
  opacity: 1;
  transform: scaleY(1); /* Escala vertical normal */
  height: auto; /* Altura automática según el contenido */
}

.dropdown-menu > a:active, .link:hover {
  scale: 1.25;
}

@media (min-width: 992px) {
  .navBar {
    width: 992px;
    border-radius: 10px;
  }

  .register-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

}
