<div class="flex justify-content-center z-1 flex-column align-items-center">

  <div class="w-full h-auto mw-992">
    <img src="assets/hero.jpeg" alt="Hero" class="w-full h-auto z-0 block">
    <div class="hero-text absolute text-white font-bold underline font-italic">
      <h1 class="text-lg sm:text-2xl md:text-3xl lg:text-5xl xl:text-6xl">
        Rumbo a un futuro sostenible
      </h1>
    </div>
  </div>

  <div class="w-full mw-992 flex flex-column align-items-center bg-white mt-4 p-3">
    <p class="text-center sm:text-lg md:text-xl">
      Disponemos de una variada gama de vehículos que se adaptan
      a todas las necesidades
    </p>
    <button class="btn-green text-white m-3 font-bold cursor-pointer md:text-lg"
    routerLink="/buscar-coche">
      Encuentra tu coche ideal
    </button>
    <p class="text-center font-italic font-light sm:text-lg md:text-xl">
      La puesta a punto del vehículo está garantizada, gracias
      al cuidado de nuestros mecánicos
    </p>
  </div>

  <div class="w-full mw-992 flex flex-column align-items-center bg-white mt-4 p-3">
    <p class="text-center sm:text-lg md:text-xl">
      Si quieres vender tu coche eléctrico, te ayudamos a
      hacerlo de manera rápida y sencilla
    </p>
    <ol class="list-disc font-light text-sm sm:text-base m-3">
      <li class="mb-1">Obtén la mejor oferta para tu coche</li>
      <li class="mb-1">Te gestionamos los trámites y documentación</li>
      <li>Aceptamos tu coche como parte de pago para uno nuevo</li>
    </ol>
    <button
    class="btn-green text-white m-3 font-bold cursor-pointer md:text-lg md:button-md"
    routerLink="/vender-coche">
      Vende tu coche
    </button>
  </div>

  <div class="w-full mw-992 flex flex-column align-items-center bg-white mt-4 p-3">
    <p class="text-center sm:text-lg md:text-xl">
      En Villablancars nos esforzamos por ofercerte el mejor
      servicio posible, dándote una atención más personal.
    </p>
    <p class="text-center sm:text-lg md:text-xl m-3">
      No dudes en contactarnos para obtener más información
      sobre nuestros servicios. <br><span class="font-italic">¡Estamos aquí para ayudarte!</span>
    </p>
    <button
    class="btn-green text-white m-3 font-bold cursor-pointer md:text-lg md:button-md"
    routerLink="/contacto">
      Contáctanos
    </button>
  </div>

</div>
