.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1001;
  color: var(--color-black);
}

.modal-content {
  padding: 40px;
  max-width: 750px;
}

@media(min-width: 768px) {
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    padding: 20px;
    border-radius: 10px;
  }
}

.cerrar {
  color: var(--color-black);
  top: 20px;
  right: 20px;
}
