<div class="w-full mw-992 flex flex-column align-items-center bg-white mt-4 p-3">
  <h1 class="text-2xl text-center md:text-3xl lg:text-5xl xl:text-6xl m-4">Véndenos tu coche</h1>
</div>

<div class="w-full mw-992 flex flex-column align-items-center bg-white mt-4 p-3">
  <p class="text-center sm:text-lg md:text-xl">
    Si estás buscando vender tu coche eléctrico, en Villablancars te
    daremos una oferta competitiva y nos ocuparemos de todas las gestiones.
  </p>
  <ol class="list-disc font-light text-sm sm:text-base m-3">
    <li class="mb-2">No hacemos estimaciones online, para evitar dar precios que luego no se cumplen.</li>
    <li class="mb-2">Valoramos tu coche in-situ y te damos un precio de mercado competitivo.</li>
    <li class="mb-2">La documentación necesaria para los trámites la gestionamos nosotros.</li>
    <li class="mb-2">Si estás interesado en un nuevo coche, aceptamos el tuyo como parte de pago.</li>
  </ol>
</div>

<div class="w-full mw-992 h-30rem flex flex-column align-items-center bg-white mt-4 p-3">
  <p class="text-center sm:text-lg md:text-xl">
    Para facilitar la comunicación, inicia sesión o regístrate.
  </p>
</div>
