<footer class="flex justify-content-center z-1 flex-column align-items-center">

  <div class="footer w-full mw-992 grid mt-4 p-3 text-white">

    <div class="col-12 md:col-6">
      <h2 class="font-bold">Contáctanos</h2>
      <p class="text-sm mt-3">Dirección: <br>Calle de Villablanca, 79, 28032 Madrid, España</p>
      <p class="text-sm mt-1">Horario: <br>Lunes a Viernes de 9:00 - 21:00,<br> Sábados de 9:00 a 14:00</p>
      <p class="text-sm mt-1">Teléfono: <br>+34 XXX XXX XXX</p>
    </div>

    <!-- Columna de enlaces -->
    <div class="col-12 md:col-6 flex flex-column justify-content-between">
      <h2 class="font-bold">Enlaces útiles</h2>
      <a class="link mt-3" routerLink="/">Página de inicio</a>
      <a class="link mt-1" routerLink="/buscar-coche">Buscar coche</a>
      <a class="link mt-1" routerLink="/vender-coche">Vende tu coche</a>
      <a class="link mt-1" routerLink="/contacto">Contacto</a>
    </div>

    <div class="col-12 mt-3">
      <p>
        © 2024 Villablancars - Reservados todos los derechos
      </p>
    </div>

  </div>

</footer>
